<html>
<body>
<head>
 #parse("/comm/head.vm")
</head>
<h2>Hello World!</h2>
<div>
  <div>表名:<input name="table" value='$!table' id="table"></div>
</div>
<input type="button" value="search" id="search">



<div>
  <table id="list2"></table> 
		<div id="pager2"></div>  
</div>
</body>
<script type="text/javascript" src="../js/tables/search.js"></script>

</html>
