<html>
<body>
<head>
 #parse("/comm/head.vm")
</head>
<h2>Hello World!</h2>
<div>
  <form action="searchTable" method="post">
  <div>表名:<input name="table" value='$!table' id="table"></div>
  <input type="submit" value="查询" id="search"> <input type="button" value="生成代码" id="javaBean">
  </form>
</div>



<div>
    <table border="1">
    <th>选中</th><th>列名</th><th>数据类型</th><th>描述</th>
    #foreach($item in $tables)
    <tr>
    <td ><input type="checkbox"></td>
    <td name="colName">$item.columnName</td>
    <td >$item.tabDataType</td>
    <td>$item.columnComment</td>
    </tr>
    #end
    </table>
</div>
</body>
<script type="text/javascript" src="../js/tables/search.js"></script>

</html>
