package ${sqlMeta.mapper};


#foreach($import in $!sqlMeta.importList)
import        $!{import};
#end


public interface ${sqlMeta.beanName}Mapper {

  
    int  insert${sqlMeta.beanName}(${sqlMeta.beanName} ${sqlMeta.parameter});

}