<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="${sqlMeta.mapper}${sqlMeta.beanName}Mapper">  

#set($empty=" ")    
    
    <insert id="insert${sqlMeta.beanName}" parameterType="${sqlMeta.beanClazz}" useGeneratedKeys="true" keyColumn="id">  
       insert into
       ${sqlMeta.tableName}(
       #foreach($field in $!classMeta.fieldList)
         $!{field.columnName}#if($foreach.hasNext),#end $empty
       #end
       ) 
       values(
       #foreach($field in $!classMeta.fieldList)
         #{$!{field.columnName}}#if($foreach.hasNext),#end $empty
       #end
       )
    </insert>
     
    <update id="update${sqlMeta.beanName}" parameterType="${sqlMeta.beanClazz}">  
       update ${sqlMeta.tableName} set 
       #foreach($field in $!classMeta.fieldList)
         $!{field.columnName}=#{$!{field.columnName}}#if($foreach.hasNext),#end $empty
       #end
    </update> 

    <delete id="delete${sqlMeta.beanName}" parameterType="${sqlMeta.beanClazz}">  
       delete from ${sqlMeta.tableName} 
    </delete>
    
</mapper>